apiVersion: apps/v1
kind: Deployment
metadata:
  name: qbittorrent-vpn
  namespace: media-stack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qbittorrent-vpn
  template:
    metadata:
      labels:
        app: qbittorrent-vpn
    spec:
      containers:
        - name: qbittorrent
          image: lscr.io/linuxserver/qbittorrent:latest
          env:
            - name: PUID
              value: "0"
            - name: PGID
              value: "0"
            - name: TZ
              value: "America/New_York"
            - name: WEBUI_PORT
              value: "8112"
          ports:
            - containerPort: 8112
              name: webui
              protocol: TCP
            - containerPort: 6881
              name: bittorrent
              protocol: UDP
          volumeMounts:
            - name: config
              mountPath: /config
            - name: downloads
              mountPath: /media

          
        - name: gluetun
          image: qmcgaw/gluetun
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          env:
            - name: VPN_SERVICE_PROVIDER
              value: protonvpn
            - name: OPENVPN_USER
              valueFrom:
                secretKeyRef:
                  name: protonvpn-credentials
                  key: openvpn_user
            - name: OPENVPN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: protonvpn-credentials
                  key: openvpn_password
            - name: VPN_TYPE
              value: openvpn
            - name: PORT_FORWARD_ONLY
              value: "on"
            - name: VPN_PORT_FORWARDING
              value: "on"
            - name: VPN_PORT_FORWARDING_PROVIDER
              value: protonvpn
            - name: FIREWALL_VPN_INPUT_PORTS
              value: "6881"
            - name: FIREWALL_INPUT_PORTS
              value: "6881,80,443,8112"
            - name: OPENVPN_ENDPOINT_PORT
              value: "80,443,1194,4569,5060"
          volumeMounts:
            - name: config
              mountPath: /config
            - name: downloads
              mountPath: /media
          volumeMounts:
            - name: gluetun-port
              mountPath: /tmp/gluetun
              
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: qbittorrent-config-pvc
        - name: downloads
          persistentVolumeClaim:
            claimName: qbittorrent-samba-pvc
        - name: gluetun-port
          persistentVolumeClaim:
            claimName: gluetun-samba-pvc
