# apiVersion: v1
# kind: Service
# metadata:
#   name: calibre-service
#   namespace: media-stack
# spec:
#   selector:
#     app: calibre
#   ports:
#     - protocol: TCP
#       port: 8080
#       targetPort: 8080
#   type: ClusterIP
