# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: readarr-ingress
#   namespace: media-stack
#   annotations:
#     nginx.ingress.kubernetes.io/rewrite-target: /
# spec:
#   rules:
#     - host: readarr.rke # Replace with your domain
#       http:
#         paths:
#           - path: /
#             pathType: Prefix
#             backend:
#               service:
#                 name: readarr-service
#                 port:
#                   number: 8787
