# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: radarr
#   namespace: media-stack
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: radarr
#   template:
#     metadata:
#       labels:
#         app: radarr
#     spec:
#       containers:
#         - name: radarr
#           image: linuxserver/radarr:latest
#           env:
#             - name: PUID
#               value: "0"
#             - name: PGID
#               value: "0"
#             - name: TZ
#               value: "America/New_York" # Replace with your timezone
#           ports:
#             - containerPort: 7878
#               protocol: TCP
#           volumeMounts:
#             - name: config
#               mountPath: /config
#             - name: downloads
#               mountPath: /media
#       volumes:
#         - name: config
#           persistentVolumeClaim:
#             claimName: radarr-config-pvc
#         - name: downloads
#           persistentVolumeClaim:
#             claimName: radarr-samba-pvc
